{% extends 'base.html' %}
{% load static%}

{% block content %}

      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Zacznij pomagać!<br />
            Oddaj niechciane rzeczy w zaufane ręce
          </h1>
        </div>
      </div>


    <section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <em>{{total.quantity__sum}}</em>
          <h3>Oddanych worków</h3>
          <p>Tyle worków przekazali Nasi Darczyńcy potrzebującym!</p>
        </div>

        <div class="stats--item">
          <em>{{counter_institution}}</em>
          <h3>Wspartych organizacji</h3>
          <p>Tyle organizacji Nasi Darczyńcy wsparli.</p>
        </div>

      </div>
    </section>

    <section id="steps" class="steps">
      <h2>Wystarczą 4 proste kroki</h2>

      <div class="steps--container">
        <div class="steps--item">
          <span class="icon icon--hands"></span>
          <h3>Wybierz rzeczy</h3>
          <p>ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--arrow"></span>
          <h3>Spakuj je</h3>
          <p>skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--glasses"></span>
          <h3>Zdecyduj komu chcesz pomóc</h3>
          <p>wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--courier"></span>
          <h3>Zamów kuriera</h3>
          <p>kurier przyjedzie w dogodnym terminie</p>
        </div>
      </div>

      <a href="{% url 'register' %}" class="btn btn--large">Załóż konto</a>
    </section>

    <section id="about-us" class="about-us">
      <div class="about-us--text">
        <h2>O nas</h2>
        <p>Organizujemy zbiórki na rzecz fundacji, organizacji pozarządowych a także zbiórki lokalne
            na rzecz osób potrzebujących</p>
        <img src="{% static 'images/signature.svg' %}" class="about-us--text-signature" alt="Signature" />
      </div>
      <div class="about-us--image"><img src="{% static 'images/about-us.jpg' %}" alt="People in circle" /></div>
    </section>

     <section id="help" class="help">
      <h2>Komu pomagamy?</h2>

      <ul class="help--buttons">
        <li data-id="1"><a href="#" class="btn btn--without-border active">Fundacjom</a></li>
        <li data-id="2"><a href="#" class="btn btn--without-border">Organizacjom pozarządowym</a></li>
        <li data-id="3"><a href="#" class="btn btn--without-border">Lokalnym zbiórkom</a></li>
      </ul>

      <!-- SLIDE 1 -->
      <div class="help--slides active" data-id="1">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy. Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują.</p>

        {% for f in fundations %}
          <ul class="help--slides-items">
          <li>
            <div class="col">
              <div class="title">Fundacja {{ f.name }}</div>
              <div class="subtitle">Cel i misja: {{f.description}}.</div>
            </div>

            <div class="col"><div class="text">{% for category in f.categories.all %}
            {{ category.name }}, {% endfor %}</div></div>

          </li>
        {% endfor %}


<!--Pagination-->

        <ul class="help--slides-pagination">
            {% if fundations.has_previous %}
          <li><a href="?page=1" class="btn btn--small btn--without-border">first</a></li>
          <li><a href="?page={{fundations.previous_page_number }}" class="btn btn--small btn--without-border">Previous page</a></li>
          {% endif %}

            <span class="current">
                <a href="" class="btn btn--small btn--without-border">{{ fundations.number }}</a>
        </span>

             {% if fundations.has_next %}
            <li><a href="?page={{ fundations.next_page_number }}" class="btn btn--small btn--without-border">{{ fundations.next_page_number }}</a></li>
            <li><a href="?page={{ fundations.paginator.num_pages }}" class="btn btn--small btn--without-border">last</a></li>
            {% endif %}
        </ul>
  </ul>
      </div>



      <!-- SLIDE 2 -->
       <div class="help--slides" data-id="2">
        <p>
          W naszej bazie znajdziesz listę zweryfikowanych Organizacji Pozarządowych,
            z którymi współpracujemy. Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują.
        </p>
          {% for o in organizations %}
        <ul class="help--slides-items">
          <li>
            <div class="col">
              <div class="title">Organizacja: {{ o.name }}</div>
              <div class="subtitle">{{o.description}}</div>
            </div>

            <div class="col"><div class="text">{% for category in o.categories.all %}
            {{ category.name }}, {% endfor %}</div></div>
          </li>
          {% endfor %}
        </ul>

<!--Pagination-->
        <ul class="help--slides-pagination">
            {% if organizations.has_previous %}
          <li><a href="?page=1" class="btn btn--small btn--without-border">first</a></li>
          <li><a href="?page={{ organizations.previous_page_number }}" class="btn btn--small btn--without-border">{{ organizations.previous_page_number }}</a></li>
          {% endif %}
        <span class="current">

             <a href="" class="btn btn--small btn--without-border">{{ organizations.number }}</a>
        </span>
             {% if organizations.has_next %}
            <li><a href="?page={{ organizations.next_page_number }}" class="btn btn--small btn--without-border">{{ organizations.next_page_number }}</a></li>
            <li><a href="?page={{ organizations.paginator.num_pages }}" class="btn btn--small btn--without-border">last</a></li>
            {% endif %}

        </ul>

 </div>

      <!-- SLIDE 3 -->
      <div class="help--slides" data-id="3">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Lokalnych zbiórek.
            Możesz sprawdzić na jakie cele były zbiórki, i kto otrzymał pomoc.</p>
       {% for l in locs %}
        <ul class="help--slides-items">
          <li>
            <div class="col">
              <div class="title">{{ l.name }}</div>
              <div class="subtitle">{{l.description}}</div>
            </div>

            <div class="col"><div class="text">{% for category in l.categories.all %}
            {{ category.name }}, {% endfor %}</div></div>

          </li>
       {% endfor %}

        </ul>

<!--Pagination-->
         <ul class="help--slides-pagination">
            {% if locs.has_previous %}
          <li><a href="?page=1" class="btn btn--small btn--without-border">first</a></li>
          <li><a href="?page={{ locs.previous_page_number }}" class="btn btn--small btn--without-border">{{ locs.previous_page_number }}</a></li>
          {% endif %}

        <span class="current">
             <a href="" class="btn btn--small btn--without-border">{{ locs.number }}</a>
        </span>
             {% if locs.has_next %}
            <li><a href="?page={{ locs.next_page_number }}" class="btn btn--small btn--without-border">{{ locs.next_page_number }}</a></li>
            <li><a href="?page={{ locs.paginator.num_pages }}" class="btn btn--small btn--without-border">last</a></li>
            {% endif %}

        </ul>
      </div>
     </section>

{% endblock %}