{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <em>{{total.quantity__sum}}</em>
          <h3>Oddanych worków</h3>
          <p>Tyle worków przekazali Nasi Darczyńcy potrzebującym!</p>
        </div>

        <div class="stats--item">
          <em>{{counter_institution}}</em>
          <h3>Wspartych organizacji</h3>
          <p>Tyle organizacji Nasi Darczyńcy wsparli.</p>
        </div>

      </div>
    </section>

    <section id="steps" class="steps">
      <h2>Wystarczą 4 proste kroki</h2>
      <div class="steps--container">
        <div class="steps--item">
          <span class="icon icon--hands"></span>
          <h3>Wybierz rzeczy</h3>
          <p>ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--arrow"></span>
          <h3>Spakuj je</h3>
          <p>skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--glasses"></span>
          <h3>Zdecyduj komu chcesz pomóc</h3>
          <p>wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--courier"></span>
          <h3>Zamów kuriera</h3>
          <p>kurier przyjedzie w dogodnym terminie</p>
        </div>
      </div>

      <a href="{% url 'register' %}#register" class="btn btn--large">Załóż konto</a>
    </section>

    <section id="about-us" class="about-us">
      <div class="about-us--text">
        <h2>O nas</h2>
        <p>Organizujemy zbiórki na rzecz fundacji, organizacji pozarządowych a także zbiórki lokalne
            na rzecz osób potrzebujących</p>
        <img src="{% static 'images/signature.svg' %}" class="about-us--text-signature" alt="Signature" />
      </div>
      <div class="about-us--image"><img src="{% static 'images/about-us.jpg' %}" alt="People in circle" /></div>
    </section>

     <section id="help" class="help">
      <h2>Komu pomagamy?</h2>

      <ul class="help--buttons">
        <li data-id="1"><a href="{% url 'main' %}#help--buttons" class="btn btn--without-border active">Fundacjom</a></li>
        <li data-id="2"><a href="{% url 'main' %}#help--buttons" class="btn btn--without-border">Organizacjom pozarządowym</a></li>
        <li data-id="3"><a href="{% url 'main' %}#help--buttons" class="btn btn--without-border">Lokalnym zbiórkom</a></li>
      </ul>

      <!-- SLIDE 1 -->
<div class="help--slides active" data-id="1">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy.
            Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują.</p>

        {% for i in items.0 %}
        <ul class="help--slides-items">
          <li>
            <div class="col">
              <div class="title">Fundacja {{ i.name }}</div>
              <div class="subtitle">Cel i misja: {{i.description}}.</div>
            </div>

            <div class="col"><div class="text">{% for category in i.categories.all %}
            {{ category.name }}, {% if category != institution.categories.first %} {% endif %}
        {% endfor %}</div> </div>

          </li>
         </ul>
       {% endfor %}


<!-- Pagination 1 -->

<ul class=help--slides-pagination">
          {% if items.0.has_previous %}
              <a class="btn btn--small btn--without-border"
                     href="?page=1#help" >&laquo; Pierwsza</a>
              <a class="btn btn--small btn--without-border"
                     href="?page={{items.0.previous_page_number }}#help">
              {{ items.0.previous_page_number }}</a>
          {% endif %}

          <li class="btn btn--small btn--without-border active">
                {{ items.0.number }}
          </li>

          {% if items.0.has_next %}
                <a class="btn btn--small btn--without-border"
                            href="?page={{ items.0.next_page_number }}#help">Następna</a>
                <a class="btn btn--small btn--without-border"
                   href="?page={{ items.0.paginator.num_pages }}#help">Ostatnia &raquo;</a>
          {% endif %}
        </ul>
</div>


      <!-- SLIDE 2 -->
<div class="help--slides" data-id="2">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Organizacji Pozarządowych,
            z którymi współpracujemy. Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują.
        </p>

          {% for i in items.1 %}
          <ul class="help--slides-items">
          <li>
            <div class="col">
              <div class="title">Organizacja: {{ i.name }}</div>
              <div class="subtitle">{{i.description}}</div>
            </div>

            <div class="col">
                <div class="text">
                    {% for category in i.categories.all %}
            {{ category.name }}, {% if category != institution.categories.first %} {% endif %}
                    {% endfor %}</div></div>
          </li>
        </ul>
         {% endfor %}


<!--Pagination 2-->
          <ul class="help--slides-pagination">
          {% if items.1.has_previous %}
                <a class="btn btn--small btn--without-border" href="?page=1#help" >&laquo; Pierwsza</a>
                <a class="btn btn--small btn--without-border" href="?page={{ items.1.previous_page_number }}#help">
                      {{ items.1.previous_page_number }}</a>
          {% endif %}

          <li class="btn btn--small btn--without-border active">
                {{ items.1.number }}
          </li>

          {% if items.1.has_next %}
                <a class="btn btn--small btn--without-border" href="?page={{ items.1.next_page_number }}#help">Następna</a>
                <a class="btn btn--small btn--without-border" href="?page={{ items.1.paginator.num_pages }}#help">Ostatnia &raquo;</a>
          {% endif %}
        </ul>
</div>

      <!-- SLIDE 3 -->
 <div class="help--slides" data-id="3">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Lokalnych zbiórek.
            Możesz sprawdzić na jakie cele były zbiórki, i kto otrzymał pomoc.</p>

       {% for i in items.2 %}
           <ul class="help--slides-items">
          <li>
            <div class="col">
              <div class="title">{{ i.name }}</div>
              <div class="subtitle">{{i.description}}</div>
            </div>

            <div class="col"><div class="text">{% for category in i.categories.all %}
            {{ category.name }}, {% if category != institution.categories.first %} {% endif %}
            {% endfor %}</div></div>
          </li>
            </ul>

         {% endfor %}

<!--Pagination 3-->

        <ul class="help--slides-pagination">
          {% if items.2.has_previous %}
                <a class="btn btn--small btn--without-border"
                   href="?page=1#help" >&laquo; Pierwsza</a>
                <a class="btn btn--small btn--without-border"
                   href="?page={{ items.2.previous_page_number }}#help">
                      {{ items.2.previous_page_number }}</a>

          {% endif %}

          <li class="btn btn--small btn--without-border active">
                {{ items.2.number }}
          </li>

          {% if items.2.has_next %}
                <a class="btn btn--small btn--without-border"
                   href="?page={{ items.2.next_page_number }}#help">Następna</a>
                <a class="btn btn--small btn--without-border"
                   href="?page={{ items.2.paginator.num_pages }}#help">Ostatnia &raquo;</a>
          {% endif %}
        </ul>
 </div>

     </section>

{% endblock content%}