{% extends 'base.html' %}

{% load static %}
{% block title %}Profil użytkownika{% endblock %}
{% block header %}{% endblock %}
{% block navigation %}{% include 'navi-styles.html' %}{% endblock %}

{% block content %}

    <style>
table.center {
    border-collapse: collapse;
    border:2px solid #999;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 14px;
    font-family: sans-serif;
    min-width: 400px;
    text-align: center;

}
table td, table th, table tr{
    border-collapse: collapse;
    background-color: #ebebeb;
    border:1px solid #999;
    text-align: center;
}
</style>
    <section class="login-page">
        <h2>Profil użytkownika</h2>
        <div class="steps--container">
            <div class="steps--item">
                <h3>Imię</h3>
                <p>{{ user.first_name }}</p>
            </div>
            <div class="steps--item">
                <h3>Nazwisko</h3>
                <p>{{ user.last_name }}</p>
            </div>
            <div class="steps--item">
                <h3>Email</h3>
                <p>{{ user.email }}</p>
            </div>
        </div>
    </section>

    <section id="donations">
        <h2>Przekazane dary</h2>


    <table class="center">
            <tr>
                <th>Liczba przekazanych worków</th>
                <th>Organizacja, której przekazano zbiórkę</th>
                <th>Rodzaj rzeczy</th>
                <th>Data odbioru</th>
                <th>Status darowizny</th>
                <th>Zmiana</th>
            </tr>


             {% for donation in donations %}
               {% if donation.is_taken == False %}
                    {% else %} {% endif %}
                 <tr>
                 <td>{{ donation.quantity }}</td>
                 <td>{{ donation.institution.name }}</td>
                <td>
                    <ul>
                        {% for category in donation.categories.all %}
                            <li>{{ category}}</li> {% endfor %}
                    </ul>
               </td>

               <td>{{ donation.pick_up_date }}</td>
               <td>{% if donation.is_taken == True %}  <span style ="color: red"> Odebrano</span>

                    {% else %} Nieodebrano<br>{% endif %}</td>
                    <td><a href="/edit_donation/{{ donation.id }}/" >Zmień</a></td>
                </tr>
            {% endfor %}

    </table>
    </section>

{% endblock %}
{% block footer %}{% include 'footer-styles.html' %}{% endblock %}